* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

.header {
    gap: 10px;
    display: flex;

    text-align: center;
    background-color: #fff;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header img {
    width: 200px;
}

.header .headerNav {
    display: flex;
    gap: 30px;
    margin: 0 30px;
    align-items: center;
}

.header svg {
    width: 25px;
    height: 25px;
}

.bluebtn {
    background-color: #1836c7;
    border-radius: 5px;
    border: 0;
    color: #fff;
    padding: 7px 12px;
    flex-shrink: 1;
}

.searchbtn {
    flex-shrink: 1;
    margin-left: auto;
}

.headerNav {
    list-style: none;
}

.headerNav>li {
    position: relative;
    font-size: 14px;
    font-weight: 700;
}

.headerNav>li:hover {
    color: #1836c7;
}

.headerNav>li:hover>.dropDown {
    display: block;
}

.dropDown {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px 15px;
    position: absolute;
    width: 150px;
    display: none;
    background-color: #fff;
    color: #000;
}

.dropDown li {
    display: block;
    padding: 5px 0;
}

.headerNav .arrow {
    width: 10px;
}

.cards {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.card {
    border-radius: 10px;
    border: 1px solid #a3a3a3;
    overflow: hidden;
}

.card img {
    width: 100%;

    border-radius: 8px 8px 0 0;
}

.card .type {
    color: #0040d4;
}

.title {
    font-size: medium;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.zar img {
    width: 100%;
    margin: 20px 0;
}

.medeenii-ner {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin: auto;
    padding: 20px 0px;
}

.zuraas {
    margin: 0 20px;
    flex: 1 1;
    height: 1px;
    background-image: linear-gradient(90deg, #a3a3a3 33%, hsla(0, 0%, 100%, 0) 0);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
}

.lemonade {
    display: flex;
    align-items: center;
}

.lemon {
    background-color: #fbda04;
    color: #000;

    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    animation: color 2s infinite;
}

@keyframes color {
    0% {
        opacity: 1;
        color: rgb(25, 26, 28);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        color: rgb(6, 6, 6);
    }
}

.lemon1 {
    background-color: #e3e3e3cd;

    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding: 10px 16px;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.mainpost img {
    width: 700px;
    border-radius: 8px 8px 0 0;
}

.mainpost {
    max-width: 700px;
    border-radius: 12px;
    border: 1px solid gray;
    width: 70%;
    overflow: hidden;
}

.post-title {
    margin: 15px 0;
    font-size: 21px;
    color: #000;
}

.post-title1 {
    margin: 13px 0;
    font-size: 16px;
    color: #000;
}

.post-detail {
    padding: 15px;

}

.mainpost1 .post-detail {
    border-bottom: 1px solid rgb(217, 217, 217);
}
.mainpost1 .post-detail:last-child {
    border-bottom: 0;

}

.post-type {
    color: #0040d4;
    font-size: 14px;
    font-weight: 700;
}

.post-type1 {
    color: #0040d4;
    font-size: 13px;
    font-weight: 700;
}

.post-date {
    font-size: 12px;
    color: #a3a3a3;
}

.post-date1 {
    font-size: 12px;
    color: #a3a3a3;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.container1 {
    max-width: 1100px;
    margin-top: 30px;
    display: flex;
    gap: 28px;
    margin-bottom: 30px;
}

.picture-news {
    background-image: url("../public/images/choko.webp");
    width: 33%;
    /* background-position: center; */
    background-size: contain;
    border-radius: 8px;
    position: relative;
}

.news-detail {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 12px;
}

.mainpost1 img {
    width: 100%;
}

.mainpost1 {
    border: 1px solid gray;
    border-radius: 8px;
    overflow: hidden;
}

.rightpost {
    width: 30%;
    height: 100%;
    /* margin-top: 30px; */
}

.section2 {
    display: flex;
    gap: 30px;
}

.tohimoluud {
    width: 33%;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.tohimoluud-list p {
    font-size: 12px;
    color: #a3a3a3;
}

.tohimoluud-list h1 {
    font-size: 13px;
}

.tohimoluud-list {
    list-style: none;
}

.tohimoluud-list li {
    padding: 10px 0;
    border-bottom: 1px solid #99999996;
}

.tohimoluud-scrollarea {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -10px;
    padding-right: 10px;
}

.tohimoluud-scrollarea::-webkit-scrollbar {
    width: 8px;
}

.tohimoluud-scrollarea::-webkit-scrollbar-track {
    background: black;
}

.tohimoluud-scrollarea::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 4px;
}

.tohimoluud-scrollarea {
    scrollbar-width: thin;
    scrollbar-color: yellow black;
}

.subscribe-box {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 255, 0.62),
            rgba(0, 0, 255, 0.7)),
        url("../public/images/subscribe-cover.png");

    width: 100%;
    height: 300px;
    padding: 50px;
    margin-top: 30px;
    border-radius: 8px;
}

.subscribe-detail {
    z-index: 1;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subscribe-input input {
    border: 2px solid blue;
    height: 33.5px;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
}

.subscribe-input button {
    background-color: #1836c7;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    color: #fff;
    padding: 7px 12px;
    flex-shrink: 1;
    border: 2px solid blue;
}

.section3 {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    align-items: stretch;
}

.section3-cards {
    width: 66.6%;
}

.section3-ads {
    width: 33.3%;
}

.section3-ads img {
    width: 100%;
    margin-bottom: 20px;
}

.section3-ads-sticky {
    position: sticky;
    top: 0;
}

.section3-card {
    display: flex;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgb(183, 183, 183);
    overflow: hidden;

}

.section3-card-img {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;

}

.section3-card-img img {
    width: 100%;
    display: block;

}

.section3-card-detail {
    padding: 15px;
}

.section3-card-type {
    color: #0040d4;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section3-card-date {
    font-size: 12px;
    color: #a3a3a3;
}

.section3-card-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}